* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9f8;
}

.main-section {
  text-align: center;
  padding-bottom: 40px;
}

.signup-head {
  padding-top: 32px;
}

.signup-head img {
  width: 34px;
  height: 32px;
}

.signup-head-title {
  position: relative;
  top: -10px;
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #3e4b4b;
}

.digit {
  width: 12%;
  height: 46px;
  margin: 1.61%;
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background-color: transparent;
  font-feature-settings: "rclt" off;
  color: #3e4b4b;
  border: solid 1px #dcdcdcfc;
}

#verificationButton {
  width: 100px;
  height: 50px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  background-color: #ffffff;
  color: transparent;
  box-shadow: 0px 2px 5px -2px #f50000ce;
  text-shadow: 0 0 0 #040404bb;
  border-color: #dcdcdcfc;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  outline-color: #ff0000bb;
}

#verificationButton:hover {
  border: solid 2px #000000ce;
  width: 110px;
  height: 60px;
  cursor: pointer;
  /* transform: scale(0.1); */
  transform: scale(1);
  transition: 0.1s;
}

.forgot-password-head {
  /* H3 | Subtitle */
  margin-top: 100.5px;
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  /* Text 1 */

  color: #011312;
}

.forgot-para {
  /* H7 | Body 2 */
  margin-top: 24px;
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "rclt" off;

  /* text 2 */

  color: #3e4b4b;
}

.forgot-password-form {
  position: relative;
  top: 32px;
  margin: 0 auto;
  width: 368px;
}

.create-account-btn {
  margin: 32px 0 30px;
  height: 53px;
  width: 100%;
  background: #008f7d;
  border: transparent;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.go-to-signin {
  /* Button text */

  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  /* Primary green */

  color: #008f7d;
  color: #008f7d;
  text-decoration: none;
}

.code-invalid {
  /* H8 | Caption */
  display: none;
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #eb5757;
}

/* otp */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #ffffff;
  box-shadow: 0px 12px 24px -8px rgba(72, 68, 68, 0.2);
  z-index: 9;
  width: 570px;
  height: 261px;
}

.popup-head {
  margin-top: 32px;
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #4e4b4b;
}

.popup-btn {
  margin-top: 41.38px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: transparent;
  width: 224px;
  height: 53px;
  padding: 16px 0;
  background: #008f7d;
}

.fatick {
  margin-top: 41.38px;
  display: block;
  color: #008f7d;
  font-size: 21.25px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .forgot-password-form {
    padding: 0 15px;
    width: inherit;
  }
  .forgot-para {
    padding: 0 26px;
  }
  .main-section {
    text-align: center;
    padding-bottom: 196px;
  }
  .form-popup {
    width: 290px;
  }
}

@media only screen and (max-width: 400px) {
  .digit {
    width: 11.8%;
    margin: 1.61%;
  }
}
