* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9f8;
}

.main-section {
  text-align: center;
  padding-bottom: 100px;
}

.signup-head {
  padding-top: 32px;
}

.signup-head img {
  width: 34px;
  height: 32px;
}

.signup-head-title {
  position: relative;
  top: -10px;
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #3e4b4b;
}

.forgot-password-head {
  /* H3 | Subtitle */
  margin-top: 100.5px;
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  /* Text 1 */

  color: #011312;
}
.text-black {
  color: black;
}

.forgot-para {
  /* H7 | Body 2 */
  margin-top: 24px;
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "rclt" off;

  /* text 2 */

  color: #3e4b4b;
}

.forgot-password-form {
  position: relative;
  top: 32px;
  text-align: left;
  margin: 0 auto;
  width: 478px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  margin-top: 8px;
  border: 1px solid #e7e7e7;
  border-radius: 1px;
  box-sizing: border-box;
  height: 52px;
  padding: 0.5em;
  width: 100%;
}
input[type="password"] {
  border-radius: 4px;
}

input[type="email"]::placeholder,
input[type="password"] ::placeholder,
input[type="text"]::placeholder {
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  font-feature-settings: "rclt" off;

  /* Default elements */

  color: #a0a7a7;
}

/* suppress IE >= 10 native functionality that can show password */
input[type="password"]::-ms-reveal {
  display: none;
}

.input-group {
  position: relative;
  width: 100%;
}

.toggle {
  background: none;
  border: none;
  color: #a0a7a7;
  /*display: none;*/
  /*font-size: .9em;*/
  font-weight: 600;
  /*padding: .5em;*/
  position: absolute;

  right: 0.75em;
  top: 45px;
  z-index: 9;
}

.fa {
  font-size: 13px;
}

.create-account-btn {
  margin: 32px 0 30px;
  height: 53px;
  width: 100%;
  background: #008f7d;
  border: transparent;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.or {
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e6e5e5;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.or span {
  background: #fff;
  padding: 0 10px;
}

.text-center {
  margin-top: 34px;
  text-align: center;
}

.go-to-signin {
  /* Button text */

  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  /* Primary green */

  color: #008f7d;
  color: #008f7d;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .forgot-password-form {
    padding: 0 15px;
    width: inherit;
  }
  .forgot-para {
    padding: 0 26px;
  }
  .main-section {
    text-align: center;
    padding-bottom: 196px;
  }
}
label {
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "rclt" off;
  color: #011312;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #e7e7e7;
  border-radius: 1px;
  box-sizing: border-box;
  height: 52px;
  padding: 0.5em;
  width: 100%;
}
input[type="password"] {
  border-radius: 4px;
}

input[type="email"]::placeholder,
input[type="password"] ::placeholder,
input[type="text"]::placeholder {
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  font-feature-settings: "rclt" off;

  /* Default elements */

  color: #a0a7a7;
}

/* suppress IE >= 10 native functionality that can show password */
input[type="password"]::-ms-reveal {
  display: none;
}

#txtPassword2 {
  margin-bottom: 0;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #ffffff;
  box-shadow: 0px 12px 24px -8px rgba(72, 68, 68, 0.2);
  z-index: 9;
  width: 570px;
  height: 301px;
}

.popup-head {
  margin-top: 32px;
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #4e4b4b;
}

.popup-btn {
  margin-top: 41.38px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: transparent;
  width: 224px;
  height: 53px;
  padding: 16px 0;
  background: #008f7d;
}

.fatick {
  margin-top: 41.38px;
  display: block;
  color: #008f7d;
  font-size: 21.25px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .form-popup {
    width: 290px;
  }
}
