.subscription-table {
  padding-top: 144px;
}

.text-align-center {
  text-align: center;
}

.data-subscription-head {
  /* H3 | Subtitle */

  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  text-align: center;

  /* Text 1 */

  color: #011312;
}

table {
  width: 1136px;
  border-collapse: collapse;
  margin: 72px auto 327px;
  box-shadow: 0px 8px 24px -4px rgba(51, 51, 51, 0.08);
  border-radius: 0px;
}
tr:nth-of-type(even) {
  background: #f8f9f8;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background-color: #fff;
}

th {
  background: #718380;
  color: white;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "rclt" off;
  padding: 8px 12px;
  color: #ffffff;
}

td,
th {
  text-align: left;
  font-size: 18px;
}
.first-col,
.second-col {
  width: 378.67px;
}

td {
  /* H6 | Body 1 */

  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 25px 12px;
  vertical-align: middle;
  align-items: center;
  color: #3e4b4b;
}

.data-column {
  display: none;
}

.subscribe-btn {
  float: right;
  border: 1px solid #3e4b4b;
  font-family: "IBM Plex Mono";
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  padding: 8px 26px;
  text-align: center;
  text-transform: capitalize;
  color: #3e4b4b;
}

.subscribe-btn:hover {
  border: #008f7d;
  background-color: #008f7d;
  color: #fff;
}



@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media screen and (max-width: 1149px) {
  table {
    width: 690px;
  }
  .last-th {
    width: 345px;
  }
  .first-col,
  .second-col,
  td,
  th {
    width: 172.5px;
  }
}

@media screen and (max-width: 690px) {
  table {
    width: 290px;
  }

  .second-col {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    height: 222px;
    margin-bottom: 77px;
  }

  td:nth-child(1) {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid transparent;
    background: #718380;
    color: #fff;
    width: inherit;
    position: relative;
    padding-left: 80%;
  }
  td:nth-child(2) {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  td:nth-child(3) {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .td:nth-child(4) {
    background-color: #1e1e1e;
  }
  .data-column {
    display: inline;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    color: #fff;
    content: attr(data-column);
    padding: 16px 12px;
  }

  .subscribe-btn {
    float: left;
    border: 1px solid #3e4b4b;
    font-family: "IBM Plex Mono";
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    padding: 8px 26px;
    text-transform: capitalize;
    color: #3e4b4b;
  }
}
